* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.title {
    text-align: center;
    margin-bottom: 50px;
}

.grid-size-btn {
    display: block;
    margin: 0 auto 15px auto;
    padding: 16px 32px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;

    max-width: 480px;
    margin: 0 auto;
}

.container > * {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.colored {
    background-color: purple;
}
